{% extends 'base.html.twig' %}

{% block title %}Nouveau véhicule{% endblock %}

{% block body %}
<div class="container mt-sm-5">
    <h3>Ajouter un véhicule</h3>

    {{ include('car/_form.html.twig') }}

    
    </div>
{% endblock %}
