{% extends 'base.html.twig' %}

{% block title %}Nouveau véhicule{% endblock %}

{% block body %}
<div class="container">
    <h3>Ajouter un véhicule</h3>

    {{ include('car/_form.html.twig') }}

    <a href="{{ path('car_index') }}">Retour</a>
    </div>
{% endblock %}
