<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Test Application{% endblock %}</title>
        {% block style %}
        <link href="{{ asset('css/style.css') }}" rel="stylesheet" /> 
        {% endblock %} 
    </head>
    <body>
        <div id="sidebar">
            {% block sidebar %}

                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="{{ path('car_index') }}">Car</a></li>
                    <li><a href="{{ path('user_index') }}">user</a></li>
                </ul>
            {% endblock %}
        </div>

        <div id="content">
            {% block body %}ggggg{% endblock %}
        </div>
    </body>
</html>