{% extends 'base.html.twig' %}

{% block title %}Home page{% endblock %}

{% block body %} 
<div>
    <section class="jumbotron text-center">
	    <div class="row justify-content-center">
                        <div class="col-12 col-md-10 col-lg-8">
                            <form class="card card-sm">
                                <div class="card-body row no-gutters align-items-center">
                                    <div class="col-auto">
                                        <i class="fas fa-search h4 text-body"></i>
                                    </div>
                                    <!--end of col-->
                                    <div class="col">
                                        <input class="form-control form-control-lg form-control-borderless" type="search" placeholder="Search topics or keywords">
                                    </div>
                                    <!--end of col-->
                                    <div class="col-auto">
                                        <a href="{{ path('user_index') }}"  class="btn btn-lg btn-success" role="button">Search</a>
                                    </div>
                                    <!--end of col-->
                                </div>
                            </form>
                        </div>
                        <!--end of col-->
                    </div>
    </section>
    <div class="row">
        <div class="col-md-3">
            <h3>Date  Debut</h3>
            <input type="date" name="datedebut" id="debut" width="270">
        </div>
        <div class="col-md-3">
            <h3>Date  Fin</h3>
            <input type="date" name="dateofbirth" id="fin">
        </div>
    </div>
</div>

    
 {% endblock %}
  
 