{% block style %}
<link href="{{ asset('css/login.css') }}" rel="stylesheet" /> 
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


{% endblock %}


{% block body %} 

<div class="container">
        
        
        <div class="row">
            <aside class="col-sm-4">
        <hr>
        <hr>
        <div class="card">
        <article class="card-body">
        
        <h4 class="card-title mb-4 mt-1">Sign in</h4>
             <form>
            <div class="form-group">
                <label>Your email</label>
                <input name="" class="form-control" placeholder="Email" type="email">
            </div> <!-- form-group// -->
            <div class="form-group">
                <a class="float-right" href="#">Forgot?</a>
                <label>Your password</label>
                <input class="form-control" placeholder="******" type="password">
            </div> <!-- form-group// --> 
            <div class="form-group"> 
            <div class="checkbox">
              <label> <input type="checkbox"> Save password </label>
            </div> <!-- checkbox .// -->
            </div> <!-- form-group// -->  
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block"> Login  </button>
            </div> <!-- form-group// -->                                                           
        </form>
        </article>
        </div> <!-- card.// -->
        
            </aside> <!-- col.// -->
            </div>
        </div>
    {% endblock %}