{% extends 'base.html.twig' %}

{% block title %}Modifier le profile{% endblock %}

{% block body %}
    <h1>Editer mon compte</h1>

    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('user_index') }}">Revenir à la liste</a>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
