{% extends 'base.html.twig' %}

{% block title %}S'inscrire{% endblock %}


{% block body %}
<div class="container">
    <h3>S'inscrire</h3>
    {{ include('user/_form.html.twig') }}

    <a href="{{ path('user_index') }}">Retour</a>
</div>
{% endblock %}
